* {
    cursor: pointer!important;
}

body {
    background-color: #6df39f;
    background-image: url(../images/17368.jpg);
    background-size: 100vw 100vh;
}

.card,.card-body {
    top: 4.5em;
    width: 100%;
    background-color: white;
    border: 3px solid;
}

.card {
    margin-bottom: 1%;
}

#clock-face {
    background-color: #ef5757;
}

.green {
    color: #039703;
}

.answers {
    border: 2px solid;
    padding: 1%;
}

#choice-0 {
    background-color: #fcb737;  
}

#choice-1 {
    background-color: #ffff58;
}

#choice-2 {
    background-color: #74c6f8;
}

#choice-3 {
    background-color: #e294e2;
}

div,button,.btn,section {
    cursor: pointer!important;
}

@media only screen and (max-width: 980px) {
    img{
        width: 90%;
    }
}